table{
    border-spacing: 0.4em;
    margin: auto;
    width: 75%;
}

tr{
    width: 35em;
    height: 15em;
}

main{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    text-align: center; 
    margin-top: 3em;
    font-size: 25px;
    font-weight: bolder;
    
}
    
.first{
    background-color: blueviolet;
}
.second{
    background-color: green;
}
.third{
    background-color: yellow;
}
.forth{
    background-color: orange;
}
.fifth{
    background-color: red;
}
