table{
    align-items: center;
    border-spacing: 0.8em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

main{
    align-self: center;
    font-family: 'Indie Flower', cursive;
    text-align: center; 
    margin-top: 3em;
    font-size: 25px;
    font-weight: bolder;
    
}
    
.first{
    background-color: blueviolet;
    width: 8em;
    height: 17em;
}
.second{
    background-color: green;
    width: 8em;
    height: 17em;
}
.third{
    background-color: yellow;
    width: 8em;
    height: 17em;
}
.forth{
    background-color: orange;
    width: 8em;
    height: 17em;
}

.fifth{
    background-color: red;
    width: 8em;
    height: 17em;
}
