body{
    background: rgb(5,22,38);
    border-left: rgb(96,193,182) 100px solid;
    border-bottom:  rgb(96,193,182) 100px solid;
    border-right:  rgb(96,193,182) 100px solid;
    margin: 0px;
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;
}

p{
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.9em;
}


input{
    margin-bottom: 1em;
    margin-top: 0.5em;
    block-size: 2em;
    width: 25em;
}

.submit{
    margin-bottom: 3%;
    background-color: orange;
    font-size: 1.5em;
    width: 7em;
    height: 3em;
    border-radius: 0.5em;
}