body{
    background-color: skyblue;
}

h1{
    border: black 1px solid;
}

.first_p{
    background-color: yellow;
}

h2{
    color: purple;
}

.firstitem{
    color: rebeccapurple;
   text-decoration: overline;
   }

 li a{
     color: red;
     text-decoration: underline;
 }


#firsttextarea{
    border: gray thick solid;
}

#inputs{
    border: red 2px solid;

}

.questions{
    background-color: blue;
    border: yellow thick dashed;
}